body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    cursor: none;
    justify-content: center;
    align-items: center;
}
::selection {
    background-color: transparent;
}
#game-screen{
    display: flex;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
}
canvas{
    background-color: #051e3e;
    /* width: 100%;
    height: 100%; */
    visibility: hidden;
    position: absolute;
    border: 1px solid white;
}
#main-menu{
    width: 100%;
    height: 100%;
}
#score{
    position: absolute;
    visibility: hidden;
}
/* Start */
.start{
    animation: fade 2s linear infinite;
}
@keyframes fade{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
/* Title */
#title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    line-height: 4rem;
    margin-bottom: 4rem;
    font-size: 5rem;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    color: #fff;
    text-shadow: 0 0 10px darkorange,
    0 0 20px darkorange,
    0 0 40px darkorange,
    0 0 80px darkorange,
    0 0 160px darkorange;
}
h1 > *{
    animation: flicker 5s linear infinite;
}
@keyframes flicker{
    0%, 18%, 26.1%, 30%, 60.1%, 92%{
        color: #5a3318;
        text-shadow: none;
    }
    18.1%, 26%, 30.1%, 60%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0 0 10px darkorange,
        0 0 20px darkorange,
        0 0 40px darkorange,
        0 0 80px darkorange,
        0 0 160px darkorange;
    }
}

/* Cursor */
#cursor{
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius:50%;
    position: absolute;
    pointer-events: none;
}
.expand {
    animation: cursorAnim 400ms forwards;
    border: 1px solid gray;
}
@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

/* Loading Screen */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(180deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(360deg)}
    100% {transform: rotate(360deg)}
}
@keyframes loader-inner {
    0% {height: 0%}
    25% {height: 0%}
    50% {height: 100%}
    75% {height: 100%}
    100% {height: 0%}
}